/* ////////////   NAVBAR   /////////////// */

nav {
    height: 80px;
    max-width: 576px;
    width: 100%;
    background-color: rgb(0, 132, 253);
    padding: 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;

    position: fixed;
}

#nav-left {
    cursor: pointer;
}

#nav-right {
    display: flex;
    justify-content: flex-end;

    /* test */
    /* position: relative; */
}

#nav-links {
    width: 50%;
}

#nav-right #nav-links {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style-type: none;
    gap: 1em;

    /* test */
    /* position: absolute; */

    display: none;
}

#nav-right #nav-links li {
    /* test */
    background-color: aqua;
}

#nav-right .nav-menu {
    font-size: 1.5rem;
    color: white;
    cursor: pointer;
}

/* ////////////   MAIN   /////////////// */

main {
    max-width: 576px;
    padding-top: 100px;
}

/* FIRST SECTION */

section.branch {
    display: flex;
    flex-direction: column;
    /* test */
    margin-bottom: 40px;
}

.centered {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.col {
    margin-top: 2rem;
    border-radius: 8px;
    background-color: rgb(181, 221, 255);
}

.primary {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.text-container {
    padding: 2rem;
    /* test */
}

.img-container {
    /* test */
    width: 100%;
}

.img-container img {
    /* test */
    max-width:100%;
    max-height:100%;
    height: auto;
}

.secondary {
    text-align: center;
}

/* SECOND SECTION - JUMBO*/

.jumbo {
    background-color: rgb(151, 146, 228);
    width: 100%;
    padding: 4rem 0;

    display: flex;
    flex-direction: column;

}

.inner.centered {
    padding: 2rem;
}

.jumbo .inner:last-child {
    background-color: white;
    border-radius: 8px;
    text-align: center;
}

.inner.centered img {
    max-width:100%;
    height: auto;
}

.inner.centered:last-child button {
    padding: 1em 2em;
    background-color: rgb(151, 146, 228);
    border-radius: 8px;
    border: none;
    cursor: pointer;
    /* test */
}

/* THIRD SECTION - TESTIMONIALS */
.testimonials {
    text-align: center;
    padding: 4rem 0;
}

.heading {
    /* test */
    margin-bottom: 2rem;
}

.testimonial {
    background-color: rgb(151, 146, 228);
    border-radius: 8px;
    padding: 2rem;

    display: flex;
    flex-direction: column;

    /* test */
    margin-bottom: 2rem;
}

.testimonial-pic {
    border-radius: 50%;
}

.testimonial-pic img {
    width: 250px;
    height: 250px;
    object-fit: cover;
    border-radius: 50%;
}

/* FOURTH SECTION - BENEFITS */

.benefits {
    background-color: rgb(151, 146, 228);
    color: rgb(151, 146, 228);;
}

.outer-container h2 {
    text-align: center;
    padding: 2rem 0;
}

.outer-container .benefits-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
    
}

.benefits .benefits-container .benefit {
    width: 100%;
    margin-bottom: 2rem;
    padding: 2rem;
    background-color: white;
    border-radius: 8px;
}

.benefit button:last-child {
    padding: 1rem 2rem;
    margin: 2rem 0;
    background-color: rgb(151, 146, 228);
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

.benefit p:first-of-type {
    font-size: 4rem;
    font-style: italic;
}

/* FIFTH SECTION - ABOUT US */

.aboutus-inner {
    margin: 2rem 0;
    display: flex;
    justify-content: space-between;
}

.aboutus-text {
    width: 70%;
    padding: 0 1rem;
}

.aboutus-text h2 {
    margin-bottom: 2rem;
}

.aboutus-text p:first-of-type {
    margin-bottom: 2rem;
}

.aboutus-img {
    width: 30%;
    padding: 0 1rem;
}

.aboutus-img img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
}

/* SIXTH SECTION GET STARTED */

.getstarted {
    text-align: center;
    color: white;
    background-color: rgb(151, 146, 228);
    padding: 4rem 0;
}

.getstarted-container button {
    padding: 1rem 1rem;
    margin: 1rem 0;
}

.getstarted-container p:nth-of-type(2) {
    color: white;
    font-size: 2rem;
}

.getstarted-container p:nth-of-type(3) {
    color: rgb(253, 193, 95);
    font-size: 3rem;
}






















/* MEDIA QUERY */

@media screen and (max-width:476px) {
    
}